.google-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align children to the start */
    position: relative; /* Makes it easier to position elements inside */
}

.google-img {
    margin-right: 60px; /* Pushes all subsequent content to the far right */
    margin-left: -60px;
    height: 18px;
    
}

.google-text {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
}

.logo-img {
    width: 175px;
}

.input {
    position: relative;
}

.toggle-icon {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    cursor: pointer;
}

.span-button {
    transition: opacity 0.5s ease;
}
