{
    "arrowParens": "avoid",
    "semi": false,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "proseWrap": "preserve",
    "endOfLine": "auto",
    "overrides": [
      {
        "files": ["*.json", "*.json5", "*.jsonc"],
        "options": { "parser": "json" }
      }
    ]
  }
  