.arrow-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 0px;
    border-radius: 50px;
    background-color: rgba(91, 84, 84, 0.2);
}

.arrow-button:hover {
    background-color: rgba(65, 61, 61, 0.2);
    cursor: pointer;
}

.arrow-button:active {
    background-color: rgba(31, 27, 27, 0.2);
}

.arrow-button img {
    width: 20px;
    height: 20px;
}