.category-list {
	display: flex;
	justify-content: space-between;
	column-gap: 1%;
	overflow-x: scroll;
	white-space: Nowrap;
	background-color: rgb(218, 218, 218);
}

/* Above must be in CSS file, overflow-x is not valid for inline styling */

.category-button {
	background-color: rgb(41, 132, 58);
}

.category-button:hover {
	background-color: rgb(34, 96, 43);
}

/* Non-standard for common browsers, will default to normal scroll bar elsewhere. */
::-webkit-scrollbar {
	display: none;
}

.example {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
