.chat-container {
	height: 650px;
	width: 50%;
	border-radius: 8px;
	overflow: hidden;
}

.header {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	text-align: left;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.body {
	height: calc(100% - 40px); /* Adjust height based on header/footer height */
	overflow: auto;
}
