.image-carousel {
    width: 35vw;
    height: 35vw;
    background-color: rgb(222, 222, 222);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    object-fit: contain;
  }
  
  .thumbnails {
    display: flex;
    justify-content: left;
    width: 80px;
    height: 80px;
    margin-top: 10px; /* Adjust margin as needed */
  }
  
  .thumbnails img {

    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .thumbnails img.active {
    border-color: green; /* Border color for active thumbnail */
  }
