.nav-container {
  position: sticky !important;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.885);
  border-radius: 0px !important; 
}

@media screen and (max-width: 768px)  {
  .nav-container {
    position: static !important;
    border-radius: 0px !important; 

  }
  
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
  width: 150px;
  min-width: 100px;
  
}

.logo-container img {
  transition: transform 0.3s ease-in-out; 
}

.logo-container:hover img {
  transform: scale(1.06); 
}