.logo-container {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 150px;
  min-width: 100px;
}


/* Apply hover effect on the logo */
.logo-container:hover img {
  transform: scale(1.06); 
  transition: transform 0.3s ease-in-out; 
}