.google-img {
    width: 20px;
    border-radius: 25px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.logo-img {
    width: 175px;
}

.input {
    position: relative;
}

.input-label-empty {
    position: absolute;
    left: 0.85rem;
    top: 0.5rem;
    color: gray;
    font-size: 14px;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.input-label-full {
    position: absolute;
    left: 0.8rem;
    top: 0.72rem;
    color: gray;
    font-size: 9px;
    pointer-events: none;
    transition: transform 0.3s ease;
    transform: translateY(-0.6rem);
}


.input-icon {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    cursor: pointer;
}

.span-button {
    transition: opacity 0.5s ease;
}

.validation-row {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    margin-bottom: 5px; /* Adds a 5px gap between each validation row */
  }
  
  .validation-icon {
    margin-right: 5px; /* Ensures space between the icon and the text */
  }